$twitter-blue: #1da1f2;

body {
  background-color: #E6EAED;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

nav {
  background-color: white;
  border-bottom: 1px solid lightgray;
  display:flex;
  justify-content: center;
  padding: 15px;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  input 				{
    font-size:32px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;

    &:focus{ outline:none; }
  }
}

button {
  background-color: #1da1f2;
  border-radius: 15px;
  color: white;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 12px;
  &:focus{ outline:none; }

}

.container {
  width: 960px;
}

.App {
  main {
    display: flex;
    justify-content: center;
  }
}

.tweets-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tweet-container {
  display: flex;
  align-items: center;
  width: 590px;
  margin: 5px;
  font-size: 16px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background-color: white;

  aside {
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #3CB1E2;
    background: -webkit-linear-gradient(top, #3CB1E2 0%,#7db9e8 100%);
    padding: 0 8px;
    img {
      border-radius: 50%;
      border: 2px solid white;
    }
  }


  section {
    margin-left: 25px;

    header {
      display: flex;
      align-items: center;
      p {
        margin: 0;
        font-weight: bold;
        font-size: 1.25em;
      }

      span{
        margin-left: 5px;
      }
      display: flex;
    }
  }
}

.cloud {
  column-count: 5;
  column-gap: 0;
}
