$twitter-blue: #1da1f2;

body {
  background-color: #E6EAED;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.chart-container {
  background-color: white;
  margin-top: 15px;
  overflow: scroll;
}

.words-container {
  margin: 0 auto;
  width: 590px;


  > div {
    background-color: white;
    justify-content: center;
    width: 100%;
  }

  .single-word {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #f2f2f2;
    p:first-child {
      font-weight: bold;
      font-size: 20px;
    }
    p:last-child {
      font-size: 24px;
      color: $twitter-blue;
    }
  }
}
nav {
  background-color: white;
  border-bottom: 1px solid lightgray;
  display:flex;
  justify-content: center;
  padding: 15px;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  input 				{
    font-size:32px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;

    &:focus{ outline:none; }
  }
}

button {
  background-color: $twitter-blue;
  border-radius: 15px;
  color: white;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 12px;
  &:focus{ outline:none; }

}

.container {
  min-width: 960px;
}

.cloud {
  column-count: 5;
  column-gap: 0;
}
